<?xml version="1.0"?>
<config>
  <modules>
    <Voucher_InstapagoVoucher>
      <version>0.1.0</version>
    </Voucher_InstapagoVoucher>
  </modules>
  <frontend>
    <routers>
      <instapagovoucher>
        <use>standard</use>
          <args>
            <module>Voucher_InstapagoVoucher</module>
            <frontName>instapagovoucher</frontName>
          </args>
      </instapagovoucher>
    </routers>
		<layout>
		  <updates>
			<instapagovoucher>
			  <file>instapagovoucher.xml</file>
			</instapagovoucher>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <instapagovoucher>
        <class>Voucher_InstapagoVoucher_Helper</class>
      </instapagovoucher>
    </helpers>
	<blocks>
	  <instapagovoucher>
		<class>Voucher_InstapagoVoucher_Block</class>
	  </instapagovoucher>
	</blocks>
  </global>
</config> 