<?xml version="1.0"?>
<config>
  <modules>
    <Voucher_Instapago>
      <version>0.1.0</version>
    </Voucher_Instapago>
  </modules>
  <frontend>
    <routers>
      <instapago>
        <use>standard</use>
          <args>
            <module>Voucher_Instapago</module>
            <frontName>instapago</frontName>
          </args>
      </instapago>
    </routers>
		<layout>
		  <updates>
			<instapago>
			  <file>instapago.xml</file>
			</instapago>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <instapago>
        <class>Voucher_Instapago_Helper</class>
      </instapago>
    </helpers>
	<blocks>
	  <instapago>
		<class>Voucher_Instapago_Block</class>
	  </instapago>
	</blocks>
  </global>
  <admin>
	<routers>
	  <instapago>
	    <use>admin</use>
		<args>
		  <module>Voucher_Instapago</module>
		  <frontName>admin_instapago</frontName>
		</args>
	  </instapago>
	</routers>
  </admin>
  
</config> 